[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "services/facilitator"]
	path = services/facilitator
	url = https://github.com/t402-io/facilitator.git
