openapi: 3.1.0
info:
  title: T402 Bazaar — Service Marketplace API
  version: 1.1.0
  description: |
    API for AI agents to discover, register, and search for t402-protected paid services.
    Part of the T402 HTTP-native payment protocol ecosystem.
  contact:
    url: https://t402.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://bazaar.t402.io
    description: Production
  - url: http://localhost:3402
    description: Local development

paths:
  /api/v1/search:
    get:
      summary: Search services
      description: |
        Full-text search across service name, description, category, and tags.
        Supports multi-word queries (all terms must match). Results sorted by
        verified status, then relevance score, then newest first.
      operationId: searchServices
      tags: [Discovery]
      parameters:
        - name: q
          in: query
          description: "Search query (multi-word supported, e.g. 'weather API')"
          schema: { type: string }
        - name: category
          in: query
          description: Filter by category
          schema: { type: string }
        - name: network
          in: query
          description: "Filter by CAIP-2 network (e.g. eip155:8453)"
          schema: { type: string }
        - name: token
          in: query
          description: "Filter by token (e.g. USDC, USDT, USDT0)"
          schema: { type: string }
        - name: tags
          in: query
          description: "Filter by tags (comma-separated, e.g. 'llm,inference')"
          schema: { type: string }
        - name: maxPrice
          in: query
          description: Maximum price in USD (e.g. 0.01)
          schema: { type: string }
        - name: verified
          in: query
          description: "Filter by verification status (true/false)"
          schema: { type: string, enum: ["true", "false"] }
        - name: limit
          in: query
          description: Max results (1-100, default 20)
          schema: { type: integer, default: 20, maximum: 100 }
        - name: offset
          in: query
          description: Pagination offset (default 0)
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  services: { type: array, items: { $ref: "#/components/schemas/Service" } }
                  count: { type: integer }
                  total: { type: integer }
                  query: { type: object }
                  pagination:
                    type: object
                    properties:
                      offset: { type: integer }
                      limit: { type: integer }

  /api/v1/services/{id}:
    get:
      summary: Get service by ID
      operationId: getService
      tags: [Services]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Service details
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Service" }
        "404":
          description: Service not found

    put:
      summary: Update service
      operationId: updateService
      tags: [Services]
      security: [{ apiKey: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ServiceUpdate" }
      responses:
        "200":
          description: Updated service
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Service" }
        "401": { description: Unauthorized }
        "404": { description: Service not found }

    delete:
      summary: Delete service
      operationId: deleteService
      tags: [Services]
      security: [{ apiKey: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted: { type: boolean }
                  id: { type: string }
        "401": { description: Unauthorized }
        "404": { description: Service not found }

  /api/v1/services:
    post:
      summary: Register new service
      operationId: registerService
      tags: [Services]
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ServiceCreate" }
      responses:
        "201":
          description: Service registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Service" }
        "400": { description: Validation error }
        "401": { description: Unauthorized }
        "409": { description: Duplicate URL }
        "503": { description: Registration disabled }

  /api/v1/services/{id}/verify:
    get:
      summary: Re-verify a service URL
      description: Probes the service URL and updates verification status. Extracts discovery info from 402 responses.
      operationId: verifyService
      tags: [Services]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VerificationResult" }
        "404": { description: Service not found }

  /api/v1/featured:
    get:
      summary: Featured services
      description: Top 5 verified services, newest first
      operationId: getFeatured
      tags: [Discovery]
      responses:
        "200":
          description: Featured services
          content:
            application/json:
              schema:
                type: object
                properties:
                  services: { type: array, items: { $ref: "#/components/schemas/Service" } }
                  count: { type: integer }

  /api/v1/categories:
    get:
      summary: List categories
      operationId: getCategories
      tags: [Discovery]
      responses:
        "200":
          description: Category counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories: { type: object, additionalProperties: { type: integer } }

  /api/v1/tags:
    get:
      summary: List tags
      operationId: getTags
      tags: [Discovery]
      responses:
        "200":
          description: Tag counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags: { type: object, additionalProperties: { type: integer } }

  /api/v1/stats:
    get:
      summary: Marketplace statistics
      operationId: getStats
      tags: [Discovery]
      responses:
        "200":
          description: Aggregate statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalServices: { type: integer }
                  verified: { type: integer }
                  networks: { type: object, additionalProperties: { type: integer } }
                  tokens: { type: object, additionalProperties: { type: integer } }

  /health:
    get:
      summary: Health check
      operationId: healthCheck
      tags: [Operations]
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok] }
                  service: { type: string }
                  services: { type: integer }

  /ready:
    get:
      summary: Readiness probe
      operationId: readinessCheck
      tags: [Operations]
      responses:
        "200": { description: Ready }
        "503": { description: Not ready }

  /metrics:
    get:
      summary: Service metrics
      operationId: getMetrics
      tags: [Operations]
      responses:
        "200":
          description: Request and store metrics

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Admin API key (BAZAAR_ADMIN_KEY)

  schemas:
    Price:
      type: object
      required: [amount, token, network]
      properties:
        amount:
          type: string
          description: "Amount in smallest unit (e.g. '1000' = 0.001 USDC)"
        token:
          type: string
          enum: [USDC, USDT, USDT0, USAT]
        network:
          type: string
          description: "CAIP-2 network ID (e.g. eip155:8453)"

    Service:
      type: object
      properties:
        id: { type: string, example: svc-001 }
        url: { type: string, format: uri }
        name: { type: string }
        description: { type: string }
        category: { type: string }
        price: { $ref: "#/components/schemas/Price" }
        methods: { type: array, items: { type: string } }
        tags: { type: array, items: { type: string } }
        owner: { type: string }
        verified: { type: boolean }
        verification: { $ref: "#/components/schemas/VerificationResult" }
        discovery: { type: object, description: "Extracted bazaar discovery info from 402 response" }
        registeredAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    ServiceCreate:
      type: object
      required: [url, name, price]
      properties:
        url: { type: string, format: uri }
        name: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 2000 }
        category: { type: string, maxLength: 50 }
        price: { $ref: "#/components/schemas/Price" }
        methods: { type: array, items: { type: string, enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS] } }
        tags: { type: array, items: { type: string }, maxItems: 20 }
        owner: { type: string }

    ServiceUpdate:
      type: object
      properties:
        name: { type: string, maxLength: 200 }
        description: { type: string, maxLength: 2000 }
        category: { type: string, maxLength: 50 }
        price: { $ref: "#/components/schemas/Price" }
        methods: { type: array, items: { type: string } }
        tags: { type: array, items: { type: string }, maxItems: 20 }
        owner: { type: string }

    VerificationResult:
      type: object
      properties:
        reachable: { type: boolean }
        returns402: { type: boolean }
        statusCode: { type: integer }
        latencyMs: { type: integer }
        error: { type: string }
        discovery:
          type: object
          description: Extracted discovery info if 402 returned
